# Environment variables
.env
.env.*

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Node
node_modules/
dist/

# Vite
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log